.header {
  display: flex;
  width: 100vw;
  height: fit-content;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  /* border: 2px solid red; */
}

.content {
  height: fit-content;
}

.header-h3 {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  justify-content: flex-start;
  border: 2px solid red;
  width: 100%;
}

.header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border: 2px solid yellow;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding-top: 1rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  /* border: 2px solid blue; */
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
    /* border: 2px solid red; */
  }
  .container-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: fit-content;

    border: 2px solid red;
  }
  .container-image {
    display: flex;
    width: 80%;
    align-self: center;
    height: fit-content;
    /* border: 2px solid red; */
  }
  .container-item {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: fit-content;
    /* border: 2px solid red; */
  }
  #bubble2 {
    display: flex;
    border-radius: 7px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    align-items: center;
    width: 25%;
    height: 4rem;
    background-color: rgb(51, 51, 51);
    margin: 0.35rem;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* border: 2px solid red; */
  }
  .container-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: space-around;
    width: 50%;
    height: fit-content;
    /* border: 2px solid red; */
  }
  .container-image {
    display: flex;
    width: 80%;
    height: fit-content;
    margin: auto;
    float: left;
    /* border: 2px solid red; */
  }
  .container-item {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    float: left;
    /* border: 2px solid red; */
  }
  #bubble2 {
    display: flex;
    border-radius: 7px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    align-items: center;
    width: 28%;
    height: 4rem;
    background-color: rgb(51, 51, 51);
    margin: 0.35rem;
  }
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: fit-content;
  padding-top: 8%;
  padding-bottom: 5%;
}

.container-contact iframe {
  background-color: #fff;
}

.container-contact input {
  /* 	background: rgba(255, 13, 254, 0.90); */
  width: 210px;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: #eee;
  padding: 1em 2em;
  outline: none;
  border: none;
  /* color: #222; */
  transition: 0.3s linear;
}
::placeholder {
  color: #999;
}

.container-contact button {
  background-image: linear-gradient(
    to left,
    rgba(191, 253, 91, 0.75) 0%,
    rgba(191, 253, 91, 0.86) 100%
  );
  font-family: "Abel", sans-serif;
  padding: 0.5em 1.9em;
  margin: 2.3em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  /* color: #FFFFFF; */
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
}
.container-contact button:hover {
  transform: scale(1.02);
}
.container-contact button:active {
  transform: translatey(5px);
}

#bubble {
  display: grid;
  border-radius: 7px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  grid-template-rows: auto;
  width: fit-content;
  /* align-items: stretch; */
  background-color: greenyellow;
  /* background-color: rgb(51, 51, 51); */
  margin: 0.35rem;
}

.container-h1 {
  display: flex;
  line-height: 6rem;
  width: fit-content;
}

.container a {
  text-decoration: underline #bffd5b;
  color: #bffd5b;
}

img {
  display: flex;
  width: 100%;
  /* padding: 3rem; */
}

.icon {
  width: 2rem;
  height: 2rem;
}

.container-h2 {
  display: flex;
  width: fit-content;
  align-self: center;
  justify-content: center;
}

span {
  font-size: x-large;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.video-wrapper {
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  display: flex;
  margin: 0;
}

.video-container {
  display: flex;
  width: 30vw;
  padding-top: 10%;
}

/*   icons */
#icon {
  color: #fff;
  background: #bffd5b;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

#icon:hover {
  background: #ef92a3;
}

/* pop-up text */

#icon span {
  color: #666;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

#icon span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

/* text pops up when icon is in hover state */

#icon:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}
