#hero-section {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background: url("./assets/gg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
  /* background-color: rgb(17, 17, 17); */
}

#hero-section h1 {
  display: flex;
  align-items: center;
}

.hero-1 {
  margin-top: 7vh;
  width: 40vw;
  height: 30vh;
  line-height: 1;
  position: absolute;
  left: 10%;
  top: 5%;

  /* text-align: center; */

  /* border: 2px solid red; */
}
.hero-2 {
  margin-top: 7vh;
  position: absolute;
  /* border: 2px solid red; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.hero-3 {
  position: absolute;
  height: 50%;
  width: 50%;
  bottom: 0;
}
.hero-4 {
  position: absolute;
  display: inline-flex;
  border-radius: 25px;
  /* border: 2px solid white; */
  height: 20vh;
  width: 50vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25%;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
}

.hero-4 span {
  font-size: 24px;
  color: white;
}

.nav {
  background-color: rgb(217, 217, 217, 0.2);
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  height: 4000px;
  /* background-color: rgb(17, 17, 17); */
}

/* .process-section {
  height: 100vh;
  background-color: rgb(17, 17, 17);
  border: 2px solid red;
} */

.project-section {
  display: flex;
  height: 80vh;
  background-color: rgb(17, 17, 17);
  background-color: white;
}

.word-wrapper {
  white-space: nowrap;
  border: 2px solid red;
}

.h1 {
  background-clip: text;
  color: transparent;
}

.tech-skills-wrapper {
  background-color: rgb(17, 17, 17);
  height: 700px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.tech-skills-wrapper img {
  height: 700px;
  object-fit: contain;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  right: 0;
  opacity: 80%;
}

.tech-skills-container {
  background-color: rgb(217, 217, 217, 0.15);
  color: aliceblue;
  border-radius: 0px;
  width: fit-content;
  height: 200px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin-top: 1.5rem;
}
.tech-skills-container h2 {
  display: flex;
  justify-content: center;
  /* margin-top: 1.25rem; */
  padding: 1rem;
  /* margin-left: 5rem; */
  align-content: center;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border: 2px solid red; */
}

.tech-skills-container p {
  display: flex;
  justify-content: center;
  font-size: 1vw;
  text-align: center;
  /* padding: 2.5rem; */
  margin: 2.75rem;
  overflow: hidden;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border: 2px solid red; */
}

.process-wrapper {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2%;
}

.process-wrapper img {
  border-radius: 15px;
  display: flex;
  width: 50%;
  height: 300px;
  object-fit: cover;
  opacity: 90%;
  align-self: center;
}

.stack-header-h1 {
  margin-top: 3.25rem;
  background-color: black;
  display: grid;
  text-align: center;
  height: 2.75rem;
  width: 100vw;
  font-size: 3.2vw;
  line-height: 0.5;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: helvetica, san-serif;
  font-weight: bold;
  line-height: 100%;
  color: #ff00bf;

  background-image: linear-gradient(
    to right,
    #6a16e0 0%,
    #ff00bf 50%,
    #6a16e0 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stack-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  width: 100vw;
  justify-items: center;
  padding-top: 5%;
  height: fit-content;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.stack-container {
  display: flex;
  width: 150px;
  flex: 0 0 33%;
}

.stack-wrapper svg {
  flex: 0 1 auto;
  width: 150px;
  height: 75px;
  /* justify-self: center; */
}

.stack-wrapper h2 {
  width: 150px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5vw;
  color: whitesmoke;
}

.stack-wrapper h1 {
  width: 150px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5vw;
  color: whitesmoke;
}

.project {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* background-color: black; */
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

#apple {
  /* --x-pos: 50px;
  transition: ease-in; */
  width: 200px;
  height: 200px;
  color: white;
  border: 2px solid red;
  /* animation: taadaa 2s;
  animation-timeline: view(block);
  animation-range: entry 0 exit-crossing 35; */
}
