.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  line-height: 180%;
  width: 40vw;
  height: fit-content;
}

.container-bubble {
  display: flex;
  border-radius: 7px;
  padding: 0.25rem;
  width: fit-content;
  background-color: greenyellow;
}

.container-h1 {
  display: flex;
  line-height: 6rem;
  width: fit-content;
}

.container-h2 {
  display: flex;
  width: fit-content;
  align-self: center;
  justify-content: center;
}
